body {
  margin: 0;
}

header {
  background-color: #06151a;
  padding: 32px;
  display: flex;
  justify-content: center;
}

section {
  background: linear-gradient(180deg, #17e4b9 0%, #091d24 100%);
  display: flex;
  justify-content: center;
}

section img {
  max-width: 90%;
}
